.vscode/
.history/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace
*.tmp
*.log
*.bak
*.swp
*.DS_Store
node_modules/
dist/
.npm-cache/
build/
.env
.env.local
.env.*.local
coverage/
npm-debug.log*
logs/
data/
dist/
